.gallery.content {
  padding-top: 64px;
  padding-bottom: 64px;
  #eq-photos {
    //display:table;
  }
  .eq-photo {
    //float:left;
    //display:inline-block;
    width: 31%;
    display: inline-block;
    margin: 1%;
    img {
      transition: $transition;
    }
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
}