footer{
  background:#212121;
  color:#fefefe;
  width:100%;
  .footer{
    &__block{
      flex:1;
      display:flex;
      justify-content:center;
    }
    .logo{
      background:url(../img/logo-header.png) center center no-repeat;
      background-size:contain;
      width: 100%;
      height: 100px;
    }
    h2{
      padding-bottom:16px;
    }
    .footer-content{
      padding-top:25px;
      padding-bottom:25px;
      display: flex;
      align-items: center;
    }
    .contact-block{
      @include display-flex;
      //@include align-items(center);
      img{
        max-width:100%;
        width:auto;
        height:auto;
      }
    }
    .text{
      display:block;
      float:left;
      padding:0 16px;
    }
    .site-map{
      a{
        color:#fff;
      }
    }

    .form-contact{
      input[type=email]{
        width:80%;
        display:block;
        float:left;
        height:35px;
        box-sizing: border-box;

      }

      input[type=submit]{
        display:block;
        float:left;
        width:20%;
        height:35px;
        box-sizing: border-box;

      }
    }
  }
  .footer-social{
    width:100%;
    height:50px;
    border-top:1px solid #fefefe;
  }
}